* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  align-items: center;
  color: white;
  padding: 20px;
}

.header--img {
  height: 100%;
  margin-right: 7px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--text {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 12px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
